alabaster==0.7.12
astroid==2.3.3
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==2.1.4
bs4==0.0.1
certifi==2018.11.29
cffi==1.14.0
chardet==3.0.4
Click==7.0
clickclick==1.2.2
colorama==0.4.3
connexion==2.5.1
cryptography==2.8
decorator==4.3.0
defusedxml==0.5.0
docutils==0.16
entrypoints==0.2.3
Flask==1.1.1
Flask-BasicAuth==0.2.0
html5lib==1.0.1
idna==2.7
imagesize==1.2.0
inflection==0.3.1
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
itsdangerous==1.1.0
jedi==0.12.1
Jinja2==2.10.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
lazy-object-proxy==1.4.3
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.8.3
nbconvert==5.4.0
nbformat==4.4.0
nbopen==0.6
networkx==2.3
notebook==5.6.0
numpy==1.17.2
openapi-spec-validator==0.2.8
packaging==20.1
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.4
ply==3.11
prometheus-client==0.3.1
prompt-toolkit==1.0.15
pycparser==2.19
Pygments==2.2.0
pylint==2.4.4
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.7.3
pytz==2019.3
pywinpty==0.5.4
PyYAML==5.3
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.20.1
scipy==1.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.13.0
smop==0.41
snowballstemmer==2.0.0
Sphinx==2.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.1
swagger-ui-bundle==0.0.6
terminado==0.8.1
testpath==0.3.1
tornado==5.1.1
traitlets==4.3.2
typed-ast==1.4.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.4.2
wrapt==1.11.2
